.container {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.container input,
.container button {
    padding: .8rem 1.6rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    border-radius: 3.2rem;
}

.container input {
    width: 28rem;
}

.container button {
    background: #0ff;
}
