.genres {
    position: relative;
}

.genres>div {
    position: absolute;
    z-index: 10;
    top: 4rem;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    width: 32rem;
    height: fit-content;
    max-height: 40rem;
    padding: 2.8rem .8rem;
    background: var(--background);
    border: solid 1px var(--foreground);
    border-radius: 2rem;
}

.genres>div div {
    display: flex;
    flex-direction: column;
}

.genres>div div h4 {
    margin: 0;
    padding: .4rem 1.2rem;
    color: var(--foreground);
}

.genres>div div h4.nopost:hover {
    background: #0ff;
    color: #070707;
    cursor: pointer;
}

.genres>div div h5 {
    margin-left: 2.4rem;
    padding: .4rem 1.2rem;
    cursor: pointer;
}

.genres>div div h5:hover {
    background: #0ff;
    color: #070707;
}

.genres button {
    padding: .8rem 1.6rem;
    background: transparent;
    border: solid 1px var(--foreground);
    border-radius: 3.2rem;
    color: var(--foreground);
    font-size: 1.6rem;
    line-height: 1.6rem;
    cursor: pointer;
}

.genres button.show {
    background: var(--foreground);
    border: solid 1px var(--foreground);
    color: var(--background);
}
